.nav-container {
    width: 125px;
    border: none;
    border-right: 4px solid #FB2576;
}
.nav {
    width: 125px;
    background: none;
    border-top: 4px solid black;
    color: #FB2576;
    font-size: 1.25rem;
    margin: 0px 0px 0px 0px;
    height: 54px;
    text-align: center;
    padding: 0px 0px;
}

.nav:hover {
    background-image: linear-gradient(rgb(255,255,255,0.3), rgb(255,255,255,0.1));
    cursor: pointer;
    color: #FB2576;

}
.firstnav {
    border-radius: 0 0 0 15px;
}

.middlenav {
    border-radius: 0 0 0 0;
}

.lastnav {
    border-radius: 0 0 15px 0;
}

.navbar {
    position: absolute;
    bottom: -1px;
    display: flex;

}

.nav a {
    text-decoration: none;
    color: #FB2576;
    width: 125px;
    height: 46px;
}

.active {
    text-decoration: underline !important;
}

.active p {
    color: #FB2576;
}

.nav p, .navbar a {
    margin: 0px 0px;
    text-decoration: none;
    margin-bottom: 0px;
}